/* Custom Styles for the Password Generator App */
.App {
  text-align: center;
  margin-top: 50px;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Media query for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Default styles from the create-react-app boilerplate */
.App-header {
  background-color: #15012f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(240, 250, 148);
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
